<hr />
<h6>Class Schedule</h6>
<div class="mb-3">
    <label>Class Venue</label>
    <input type="text" class="form-control" [(ngModel)]="classVenue" name="classVenue" />
</div>

<div class="mb-3">
    <label>Class Days & Times</label>
    <div *ngFor="let day of weekDays" class="mb-2 ms-2">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [id]="day" [(ngModel)]="selectedDays[day]" />
            <label class="form-check-label me-3" [for]="day">{{ day }}</label>
        </div>
        <input type="time" class="form-control d-inline w-auto me-2" [(ngModel)]="startTimes[day]"
            [disabled]="!selectedDays[day]" />
        <input type="time" class="form-control d-inline w-auto" [(ngModel)]="endTimes[day]"
            [disabled]="!selectedDays[day]" />
    </div>
</div>