<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">

        <!-- Only show this on the homepage when no user is logged in -->
        <a class="navbar-brand" routerLink="/" routerLinkActive="active" *ngIf="!accountService.currentUser()">
            CSI HONORS PORTAL
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser()">
            <li class="nav-item" (click)="markAnnouncementsAsSeen()">
                <a routerLink="/announcements" routerLinkActive="active" class="nav-link">
                    Announcements
                </a>
            </li>
            <li class="nav-item" *ngIf="!isAdmin()">
                <a routerLink="/modules" routerLinkActive="active" class="nav-link">Modules</a>
            </li>
            <li class="nav-item">
                <a routerLink="/repository" routerLinkActive="active" class="nav-link">Repository</a>
            </li>
            <li class="nav-item" *ngIf="!isAdmin()">
                <a routerLink="/scheduler" routerLinkActive="active" class="nav-link">Schedule</a>
            </li>
            <li class="nav-item">
                <a routerLink="/faq" routerLinkActive="active" class="nav-link">FAQ</a>
            </li>
            <li *appHasRole="['Admin']" class="nav-item">
                <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin Panel</a>
            </li>
            <li *ngIf="showLecturerPanel" class="nav-item">
                <a routerLink="/lecturer" routerLinkActive="active" class="nav-link">Lecturer Panel</a>
            </li>
        </ul>

        <!-- User Dropdown -->
        <div *ngIf="accountService.currentUser()" dropdown class="dropdown">
            <img class="me-2" src="./assets/user.png" alt="user icon" width="32" height="32" />
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
                Welcome {{ accountService.currentUser()?.name }}
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

    </div>
</nav>