<div class="container mt-4">
    <h4>Modules</h4>

    <!-- Semester Filter -->
    <div class="mb-3">
        <label for="semester">Select Semester:</label>
        <select id="semester" class="form-select w-auto" name="semester" [(ngModel)]="selectedSemester"
            (change)="onSemesterChange()">
            <option [value]="1">Semester 1</option>
            <option [value]="2">Semester 2</option>
        </select>
    </div>

    <!-- Module Cards -->
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let module of modules">
            <div class="card h-100" (click)="openModule(module)" style="cursor: pointer;">
                <div class="card-body">
                    <h5 class="card-title">{{ module.moduleCode }}</h5>
                    <p class="card-text">{{ module.moduleName }}</p>
                </div>
            </div>
        </div>
    </div>
</div>