<!-- scheduler.component.html -->
<div class="scheduler-container">
    <h2>Scheduler</h2>

    <div class="card-container">
        <a routerLink="lab" class="card">
            <h3>Lab Schedule</h3>
            <p>View Lab Bookings</p>
        </a>

        <a routerLink="class" class="card">
            <h3>View Class Schedule</h3>
            <p>Timetable and class slots</p>
        </a>

        <a routerLink="test" class="card">
            <h3>View Test Schedule</h3>
            <p>Upcoming test dates</p>
        </a>
    </div>

    <router-outlet></router-outlet>
</div>